In [1]:
import pickle
import pandas as pd
import glob

In [2]:
csvs = glob.glob('../Data/features/output_*.csv')
csvs

['../Data/features/output_air_conditioner.csv',
 '../Data/features/output_car_horn.csv',
 '../Data/features/output_children_playing.csv',
 '../Data/features/output_dog_bark.csv',
 '../Data/features/output_drilling.csv',
 '../Data/features/output_engine_idling.csv',
 '../Data/features/output_gun_shot.csv',
 '../Data/features/output_jackhammer.csv',
 '../Data/features/output_siren.csv',
 '../Data/features/output_street_music.csv']

In [3]:
dfs = [
    pd.read_csv(f)
    for f in csvs
]
len(dfs)

10

In [4]:
for df in dfs:
    print(df.shape, df['class'].unique()[0])
    df['embedding'] = df['embedding'].apply(pickle.loads).values
    df['mfcc'] = df['mfcc'].apply(pickle.loads).values
#     df['mfcc'] = df['mfcc'].apply(lambda x: x.T)

((1000, 10), 'air_conditioner')
((429, 10), 'car_horn')
((1000, 10), 'children_playing')
((1000, 10), 'dog_bark')
((1000, 10), 'drilling')
((1000, 10), 'engine_idling')
((374, 10), 'gun_shot')
((1000, 10), 'jackhammer')
((929, 10), 'siren')
((1000, 10), 'street_music')

In [5]:
dfs[8]['embedding'][1].shape

(4, 128)

In [6]:
dfs[0].head()

,slice_file_name,fsID,start,end,salience,fold,classID,class,embedding,mfcc
0,100852-0-0-0.wav,100852,0.0,4.0,1,5,0,air_conditioner,"[[154, 27, 142, 51, 255, 91, 129, 86, 98, 213,...","[[-688.746358108, -255.410142174, -96.76443686..."
1,100852-0-0-1.wav,100852,0.5,4.5,1,5,0,air_conditioner,"[[151, 23, 121, 33, 255, 89, 144, 54, 71, 227,...","[[-55.1333510316, -51.5742405023, -50.06881153..."
2,100852-0-0-10.wav,100852,5.0,9.0,1,5,0,air_conditioner,"[[158, 21, 145, 59, 228, 41, 130, 90, 144, 204...","[[-38.6810339871, -34.0179341933, -40.03515054..."
3,100852-0-0-11.wav,100852,5.5,9.5,1,5,0,air_conditioner,"[[153, 24, 150, 38, 252, 83, 149, 95, 125, 238...","[[-52.1645261052, -40.6669017648, -37.14513627..."
4,100852-0-0-12.wav,100852,6.0,10.0,1,5,0,air_conditioner,"[[153, 22, 138, 25, 255, 93, 143, 70, 96, 238,...","[[-41.98415573, -38.8715039117, -35.3564076947..."

In [7]:
big_df = pd.concat(dfs)[['classID', 'class', 'embedding', 'mfcc']]
big_df.head()

,classID,class,embedding,mfcc
0,0,air_conditioner,"[[154, 27, 142, 51, 255, 91, 129, 86, 98, 213,...","[[-688.746358108, -255.410142174, -96.76443686..."
1,0,air_conditioner,"[[151, 23, 121, 33, 255, 89, 144, 54, 71, 227,...","[[-55.1333510316, -51.5742405023, -50.06881153..."
2,0,air_conditioner,"[[158, 21, 145, 59, 228, 41, 130, 90, 144, 204...","[[-38.6810339871, -34.0179341933, -40.03515054..."
3,0,air_conditioner,"[[153, 24, 150, 38, 252, 83, 149, 95, 125, 238...","[[-52.1645261052, -40.6669017648, -37.14513627..."
4,0,air_conditioner,"[[153, 22, 138, 25, 255, 93, 143, 70, 96, 238,...","[[-41.98415573, -38.8715039117, -35.3564076947..."

In [8]:
big_df.to_pickle('../Data/features/full_data.pkl')